@{
    ViewBag.Title = "Details";
}

<h1>@ViewBag.Recipe.Name</h1>
<p><i>@ViewBag.Recipe.Description</i></p>
<p>@ViewBag.Recipe.Notes</p>
<p>Default Servings: @ViewBag.Recipe.Servings</p>

<h3>Ingredients</h3>
<ul>

    @foreach (var ingredient in ViewBag.Ingredient)
    {

        <li>@ingredient.Name</li>
        <ul>
            <li>@ingredient.Amount  @ingredient.Unit</li>
        </ul>
    }
</ul>

<form method="post" action="">
    Show requirements for <input type="number" name="ServingSize" value=""> servings:
    <input type="submit" value="Submit" class="submit">
</form>

@{string serving = Request["ServingSize"];}

@if (@serving != null)
{
    <p>@serving Servings:</p>

    <h3>Ingredients</h3>
    <ul>

        @foreach (var ingredient in ViewBag.Ingredient)
        {

            <li>@ingredient.Name</li>
            <ul>
                <li>@(@ingredient.SingleServing() * Int32.Parse(serving));  @ingredient.Unit</li>
            </ul>
        }
    </ul>
}