@model IEnumerable<LarchRecipe.Models.Recipe>

@{
    ViewBag.Title = "Index";
}

<h2>Recipes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th><h4>Ingredients</h4></th>
        <th>
            @Html.DisplayNameFor(model => model.Servings)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Index", "Ingredients", new { id = item.ID }, null)
                <br />
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <ul>
                    @{
                        foreach (var ingredient in ViewBag.Ingredients)
                        {
                            if (ingredient.RecipeId == item.ID)
                            {
                                <li>@(ingredient.SingleServing() * item.Servings) @ingredient.Unit of @ingredient.Name</li>
                            }
                            <form method="post" action="">
                               
                                <input type="number" name="ServingSize" value="@item.Servings">
                                <input type="submit" value="Submit" class="submit">
                            </form>
                        }
                    }
                </ul>
            </td>
            <td>
                @{
                    foreach (var ingredient in ViewBag.Ingredients)
                    {
                        if (ingredient.RecipeId == item.ID)
                        {
                            
                        }

                        string serving = Request["ServingSize"];
                        if (serving != null)
                        {
                            <li>@(ingredient.SingleServing() * Int32.Parse(serving));</li>
                            @Html.DisplayFor(modelItem => item.Servings)

                        }

                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })|               |
                @Html.ActionLink("Add Ingredients", "Create", "Ingredients", new { id = item.ID }, null)
            </td>
        </tr>
                    }
</table>